* {
    box-sizing: border-box;
    background: rgb(243, 215, 191);
}

main{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

h1 {
    background-color: #420f0f;
}

header {
    padding: 10px;
    text-align: center;
    background: #420f0f;
    color: rgb(247, 244, 244);
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    padding: 20px;
    background-color: #420f0f;
}

section {
display: flex;
flex-wrap: wrap;
padding: 10px;
justify-content: center;
align-items: center;
}

#About-Me {
    border: 1px solid rgb(5, 5, 5);
    width: 100%
}

#Work {
    display: flex;
    align-content: center;
    text-align: center;
    width: 100%
}

#Resume {
    border: 1px solid rgb(5, 5, 5);
    display: flex;
    flex-direction: column;
    width: 100% 
}

button {
text-align: center;
font-size: large;
background-color: floralwhite;
border-radius: 25px;
height: 75px;
width: 350px
}

aside {
    padding: 20px;
    flex-wrap: wrap;
    border: 1px solid black;
    text-align: center;
}

p {
   text-align: center; 
}

@media screen and (min-width: 767px) {

    * {
        font-size: 105%;
    }

    h2{
        font-size: 120%;
    }

    #About-Me {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #About-Me img {
        width: auto;
    }

    #Work {
        flex-direction: column;
    }
    #Work img {
        width: 100%;
    }

}
